.navbar {
  overflow: hidden;
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 100%;
  background-color: white;
  font-size: 2rem;
}

.tag_links_box_header {
  margin-left: 12vw;
}

ul, li {
  list-style: none;
  font-size: 1.5vw;
  display: inline-block;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
  padding: 2px 2px;
  float: right;
}

a:hover {
  cursor: pointer;
  color:white;
  background-color:black;
}

h1 {
  font-size: 6vw;
}