<div class="navbar">
  <div class="row">
    <img class="logo" style='width:96px; height:72px;' src="assets/img/synth.png">
    <h1>Digital Music Blog</h1>
  </div>
  <div class="row">
    <li><a class="link" routerLink="/">Home</a></li>
    <li><a class="link" routerLink="/technology">Technology</a></li>
    <li><a class="link" routerLink="/hardware">Hardware</a></li>
    <li><a class="link" routerLink="/performance">Performance</a></li>
    <li><a class="link" routerLink="/archive">Archive</a></li>
  </div>