<div class="navbar">
  <div class="row">
    <div class="col-lg-12">
      <div class="inline">
        <img style='width:96px; height:72px;' src="assets/img/synth.png">
      </div>

      <div class="inline">
        <h1>Digital Music Blog</h1>
      </div>
    </div>


    <div class="inline">
      <button class="tag_button">Home</button>
    </div>

    <div class="inline">
      <button class="tag_button">Tag 1</button>
    </div>

    <div class="inline">
      <button class="tag_button">Tag 2</button>
    </div>

    <div class="inline">
      <button class="tag_button">Tag 3</button>
    </div>
  </div>
</div>
<br>
