.blog_post {
  margin-left: 12vw;
  text-align: left;
}

.tag_links_box {
  display: inline-block;
}

.read_more_button {
  font-size: 1.25rem;
  border-style: hidden;
}

.read_more_button:hover, .tag_button:hover {
  background-color: #bfb59e;
}

.tag_button {
  border-style: hidden;
  font-size: 1rem;
  width: 60px;
}

img {
  height: 480px;
  width: 640px;
}
