<div class="blog_post">
  <h1>Blog Post 1</h1><h3>Post Date</h3>
  <img src="https://images.unsplash.com/photo-1503440765842-0c8293cb78ba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d4c12f73e77bae7703247a6641cc03c3&auto=format&fit=crop&w=1349&q=80" alt="moog-synth">
  <br>
  <div class="tag_links_box">
    <button class="tag_button">Tag 1</button><button class="tag_button">Tag 1</button><button class="tag_button">Tag 1</button>
  </div>
  <p>This is where the intro post, the first few lines of the blog post will go.</p>
  <button class="read_more_button">READ MORE ➡</button>
</div>
