<div class="container">
  <h1>CREATE BLOG POST</h1>
</div>

<div class="container">
  <form id="blog_post">
    <label for="title">TITLE:</label>
    <br>
    <input #newTitle type="text" name="title">
    <br>
    <label for="image">IMAGE LINK:</label>
    <br>
    <input #newImage type="text" name="image">
    <br>
    <label for="post">POST:</label>
    <br>
    <textarea #newPost type="text" name="post" rows="24" cols="96"></textarea>
    <br>
    <button (click)="newBlogPost(newTitle.value, newImage.value, newPost.value" class="read_more_button">SUBMIT</button>
  </form>
</div>