.blog_post {
  margin-left: 12vw;
  text-align: left;
}

.tag_links_box {
  display: inline-block;
}

.read_more_button {
  font-size: .45rem;
  border-style: hidden;
  height: 100px;
  width: 80px;
}

.tag_button {
  border-style: hidden;
  font-size: .25rem;
  height: 80px;
  width: 60px;
}

img {
  height: 480px;
  width: 640px;
}
