/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
}

.blog_post {
  margin-left: 12vw;
  margin-top: 4vw;
  text-align: left;
  padding-top: 2vw;
}

h1 {
  margin: .5vw auto;
}

.blog_post_intro {
  margin-top: 0 auto;
  width: 640px;
}

.tag_links_box {
  margin: 0 auto;
}

.read_more_button {
  font-size: 1.25rem;
  border-style: hidden;
}

.tag_button {
  border-style: hidden;
  font-size: 1rem;
  background-color: transparent;
  padding-left: 2vw;
  padding-right: 2vw;
}

.read_more_button:hover, .tag_button:hover {
  background-color: #bfb59e;
}

img {
  height: 480px;
  width: 640px;
  /* Need to adjust images dynamically, intend to class each image and not style every img element */
}
.logo {
  float: left;
}

.inline {
  display: inline;
}
