<div class="blog_post" *ngFor="let blogPost of childBlogPostList" (click)="showBlogPost(blogPost)">
    <img src="{{blogPost.image}}" alt="">
    <div class="tag_links_box">
    <h1>{{blogPost.title}}</h1><!-- Blog title will become link to full blog post  -->
        <button class="tag_button">Tag 1</button><button class="tag_button">Tag 2</button><button class="tag_button">Tag 3</button>
    </div>
    <div class="blog_post_intro">
    <p>{{blogPost.post | limitTo : 120 }}</p>
    <button class="read_more_button">READ MORE ➡</button>
  </div>
</div>
